<!DOCTYPE html>
<html lang="en">
<head>
    <title>Purchases-The Connoisseurs</title>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<body>
    <% if(purchases.length > 0) {%>
    <HEADER>Here are your purchased products</HEADER>
    <p><%= purchases.length %> purchases:</p>
    <% } %>
    <% if(purchases.length <= 0){ %>
        <HEADER>You have made no purchases!</HEADER>
    <% } %>
    <% for(product of purchases){ %>
        <%- include('../partials/displayProduct'); %>
    <% } %>
</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>